.banner_main {
    width: 100%;
    height: 55px;
    // background-color: #4E018F;
    background: rgb(93, 37, 212);
    background: linear-gradient(0deg, rgba(93, 37, 212, 1) 0%, rgba(66, 99, 185, 1) 100%);
    position: absolute;
    top: 0;

    .banner_box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {

            height: 75%;
        }
    }
}