.left_main {
    font-family: Pretendard Variable;
    width: 346px;
    height: 100vh;
    background-color: #FFFFFF;
    position: relative;


    .logo_box {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    .date_box {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        margin-top: 25px;
        margin-bottom: 8px;
    }

    .profile_img_box {
        width: 104px;
        height: 104px;
        margin: 0 auto;
        margin-bottom: 18px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .department_wrapper {
        text-align: center;
        margin-bottom: 44px;

        h2 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .department_box {
            position: relative;
            font-size: 15px;
            color: #7E7979;

            .logout_button {
                position: absolute;
                top: 0;
                right: 12px;
            }
        }

    }

    .brief_schedule_wrapper {
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        margin-bottom: 61px;

        p {
            margin-bottom: 7px;
        }

        .left_box {
            color: #7E7979;
        }

        .right_box {
            text-align: center;
        }
    }

    .category_wrapper {

        .category_box {
            position: relative;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 22px;
                font-weight: 600;
            }

            &.active {
                background-color: #F8F9FD;
            }

            .active_bar {
                position: absolute;
                width: 7px;
                background-color: #6D58EB;
                height: 100%;
                left: 4px;
            }
        }
    }

    .customer_service_wrapper {
        position: absolute;
        bottom: 16px;
        right: 15px;
        display: flex;
        font-size: 16px;
        color: #676464;

        p {
            margin-right: 16px;
        }
    }


}