@import "../abstracts/color";

.left_main {
    font-family: Pretendard Variable;
    width: 90px;
    height: calc( 100vh - 55px );
    background-color: $sub-color;

    .profile_wrapper {
        margin-top: 126px;

        .profile_box {
            width: 70px;
            height: 70px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .name_box {
        margin-top: 14px;
        text-align: center;
        margin-bottom: 80px;

        h2 {
            font-size: 16px;
        }
    }

    .category_wrapper {

        .category_box {

            .svg_box {
                width: 25px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .title_box {
                margin-top: 5px;
                text-align: center;
                margin-bottom: 37px;

                h3 {
                    font-size: 14px;
                }
            }
        }
    }


}