.org_main{
    font-family: Pretendard Variable;
    font-size: 14px;

    .tree_item_wrapper{
        div{
            margin-top: 8px;
        }
        
        .tree_item_box{
            display: flex;
            align-items: center;

            img{
                margin-right: 6px;
            }
        }
    }



}