@import "../abstracts/color";

.main {
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    font-family: Pretendard Variable;

    .container {
        margin-top: 55px;
        width: calc(100% - 90px);
        height: calc(100% - 55px);

        .top_box {
            height: 65px;
            width: 100%;
            border-bottom: 1px solid #D9D6DB;


            .title_wrapper {
                display: flex;
                height: 100%;
                align-items: center;
                margin-left: 100px;

                .title_box {
                    width: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 20px;
                    }
                }

                .active {
                    border-bottom: 3px solid #7900DF;
                    width: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 20px;
                    }

                }
            }
        }

        .content_box {
            display: flex;
            height: calc(100% - 66px);

            .left_box {
                border-right: 1px solid #D9D6DB;
                width: 200px;

                .button_wrapper {
                    display: flex;
                    margin-top: 20px;
                    margin-bottom: 17px;
                    margin-left: 30px;

                    .add_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70px;
                        height: 28px;
                        background-color: #009DFF;
                        color: white;
                        font-size: 15px;
                        font-weight: 500;
                        border-radius: 3px;
                    }
                }

                hr {
                    width: 90%;
                    background: #E3E4E7;
                    border: 0;
                    height: 1.5px;
                }

                .folder_wrapper {
                    margin-top: 24px;
                    margin-bottom: 32px;
                }

                .rank_wrapper{
                    font-size: 14px;
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-left: 20px;

                    .rank_box{

                        .rank_title{
                            img{
                                margin-right: 8px;
                            }
                        }
                    }
                }

            }

            .right_box {
                width: calc(100% - 200px);

                .right_box_top {
                    height: 34px;
                    background-color: $sub-color;
                    border: 0;
                    display: flex;
                    font-size: 16px;
                    align-items: center;

                    .fold_wrapper {
                        display: flex;
                        margin-left: 50px;
                        gap: 20px;


                        .fold_title {
                            font-size: 14px;
                            font-weight: 600;
                            border-bottom: 2px solid #4E018F;
                        }
                    }
                }

                .right_box_content {

                    .search_wrapper {
                        display: flex;
                        gap: 9px;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        margin-top: 26px;

                        .depart_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 60px;
                            height: 25px;
                            background-color: #F0F0F0;
                            border-radius: 5px;
                        }

                        .comb_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 86px;
                            height: 25px;
                            background-color: #4E018F;
                            border-radius: 5px;
                            color: #FFFFFF;
                        }

                    }

                    .org_component_wrapper {
                        margin-top: 8rem;
                        margin-left: 20rem;

                    }
                }
            }
        }
    }
}