.main {
    height: 100vh;
    display: flex;
    background-color: #ffffff;
    font-family: Pretendard Variable;

    .leftbar_calendar {
        width: 250px;
        border-right: 1px solid #e0e0e0;
        margin-top: 55px;

        .title_wrapper {
            display: flex;
            align-items: center;
            margin-left: 12px;
            margin-top: 24px;

            img {
                width: 35px;
                height: 35px;
            }

            h1 {
                font-size: 30px;
                margin-left: 12px;
                font-weight: 500;
            }
        }

        .checkbox_wrapper {
            margin-left: 14px;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .checkbox_box {
                display: flex;
                align-items: center;
                font-size: 16px;

                label {
                    margin-left: 8px;

                }
            }
        }

    }

    .container {
        margin-top: 55px;
        width: calc(100% - 90px);
    }
}